[submodule "components/esp_littlefs"]
	path = components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
[submodule "components/QR-Code-generator"]
	path = components/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
