#common settings for all hardware
# ── Networking ───────────────────────────────────────────
CONFIG_HTTPD_WS_SUPPORT=y
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_OTA_ALLOW_HTTP=y
CONFIG_LWIP_MULTICAST=y
CONFIG_LWIP_IGMP=y

# mDNS
CONFIG_MDNS_MAX_SERVICES=10
CONFIG_MDNS_TASK_PRIORITY=1
CONFIG_MDNS_TASK_STACK_SIZE=4096

# ── FreeRTOS ─────────────────────────────────────────────
CONFIG_FREERTOS_HZ=1000

# ── Serial ───────────────────────────────────────────────
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y
